#main{
	width: 190px;
	height: 400px;
	margin: 0 auto;
}

.cell{
	float: left;
	width: 31px;
	height: 31px;
	border: 1px dashed gray;
	display: block;
}

.cellG{
	float: left;
	width: 31px;
	height: 31px;
	border: 1px dashed red;
	display: block;
}

#p3{
	background-image:url('../agility.gif');
}

#treasure{
	float: left;
	width: 16px;
	height: 16px;
	display: block;
}